#student-dash {
    margin-top: 0.25rem;
    width: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    align-content: center;
    padding: calc(var(--default-padding)* 3) 0;
    color: var(--text-color);
    box-shadow: 2px 2px 15px gold;
    border-radius: 0.5rem;
}

#student-name {
    /*font-family: "Playfair Display", sans-serif;*/
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: oblique;
}

#info-dash {
    margin-top: calc(var(--default-padding) * 1.85);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.personal-info {
    display: flex;
    align-items: center;
}

.personal-info img {
    display: inline;
}

.personal-info-status span,
.personal-info-entry span,
.personal-info-dept span  {
    margin: 0 0 0 -0.1rem;
}

.personal-info h3 {
    display: inline;
    padding: 0 0.25rem;
    text-transform: uppercase;
}

.table-striped tbody tr:nth-child(odd) td {
    background-color: var(--primary-color);
    opacity: 0.85;
}

.btnContainer {
    text-align: center;
}

.btn-primary {
    width: 50%;
    font-size: 1.07rem;
    cursor: pointer;
    transition: background 0.3s ease;
    color: white !important;
    background-color: lightseagreen !important;
    padding: 10px 15px !important;
    border: 2px solid;
    border-color: gold !important;
    border-radius: 10px 7px 10px 7px !important;
}

.btn-primary:hover {
  background-color: rgb(136, 176, 75) !important;
}