:root {
    --primary-color: rgba(136, 176, 75, 0.55);
    --text-color: black;
    --default-padding: 0.625rem;
}

html {
    height: auto;
    font-size: 16px;
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
}

@media (max-width: 450px) {
    html {
        font-size: 14px;
    }
}

body {
	padding: calc(var(--default-padding) / 1.5);
	overflow-x: hidden;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.2rem;
}