.chart-container {
  display: flex;
  flex-wrap: wrap;
  width: inherit;
  flex-direction: row;
}

.chart-section {
  padding-bottom: 1rem;
}

.chart-row {
  display: flex;
  justify-content: space-between;
  width: 100%;  
}

.branch-gpa-chart, .semester-avg-chart {
  width: 55vw; 
  height: 450px;
  padding-top: 1rem;
}

.cgpa-chart {
  width: 45vw;
  height: 450px;
  padding-top: 1rem;
}

.level-boxplot {
  height: 450px;
  width: 33vw;
  padding-top: 4.5rem;
}

.semester-boxplot {
  height: 450px;
  width: 67vw;
  padding-top: 4.5rem;
  padding-left: 30px;
}

.scatter-plot {
  height: 450px;
  width: 60vw;
  padding-top: 6.7rem;
}

.overall-boxplot {
  height: 450px;
  width: 40vw;
  padding-top: 6.7rem;
}

.alternate-semester-avg-chart {
  height: 450px;
  width: 45vw;
  padding-top: 9rem;
}

.branch-avg-chart {
  height: 450px;
  width: 55vw;
  padding-top: 9rem;
}

.branch-pie-chart {
  height: 650px;
  width: 38vw;
  padding-top: 11rem;
}

.semester-distribution {
  height: 650px;
  width: 62vw;
  padding-top: 11rem;
}

.semester-distribution-inner {
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.semester-distribution-item {
  flex: 0 0 calc(25% - 20px);
}

.branch-distribution-stacked {
  height: 630px;
  width: 100vw;
  padding-top: 15rem;
}

.pass-rate-chart {
  height: 650px;
  width: 100vw;
  padding-top: 11rem;
  padding-right: 0.7rem;
}

.chart-title {
  text-align: center;
}

.spacer {
  padding-top: 4px;
  margin-bottom: 8px;
}

.analysis-button {
  display: inline-block;
  width: 100vw;
}

.advisory-section {
  margin: 40px 0 5px;
}

.minimize-button {
  width: 100vw;
  margin-top: 8px;
  margin-bottom: 8px;
}

@media (min-width: 2100px) {
  .level-boxplot {
    width: 40vw;
  }
  
  .semester-boxplot {
    width: 55vw;
  }
}

@media (max-width: 767px) {
  .chart-row {
    display: flex;
    flex-direction: column;
    width: 100%;  
  }

  .chart-section {
    width: 100% !important;
  }

  .chart-section.semester-distribution {
    height: max-content;
  }

  .level-boxplot {
    padding-top: 1.5rem;
  }

  .semester-boxplot {
    padding-top: 0rem;
    height: 350px;
    padding-left: 0px;
  }

  .scatter-plot {
    padding-top: 5.7rem;
  }

  .overall-boxplot {
    height: 420px;
    margin-top: 1rem;
  }

  .branch-pie-chart {
    height: 350px !important;
    padding-top: 2.5rem;
  }

  .alternate-semester-avg-chart {
    height: 350px;
    padding-top: 0.75rem;
    margin-top: 8rem;
  }

  .branch-avg-chart {
    padding-top: 0.75rem;
    margin-top: 6rem;
  }

  .semester-distribution-inner {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 2rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color); transparent;
    height: auto; 
    overflow-y: clip;
    scroll-behavior: smooth;
  }
  
  .semester-distribution-inner::-webkit-scrollbar {
    height: 6px;
  }
  
  .semester-distribution-inner::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  .semester-distribution-inner::-webkit-scrollbar-track {
    background: transparent;
  }

  .pass-rate-chart {
    padding-top: 0px;
    padding-right: 0px;
  }

  .branch-distribution-stacked {
    padding-top: 0.75rem;
    margin-top: 1rem;
    height: 480px !important;
  }

  .pass-rate-chart {
    padding-top: 0px;
    padding-right: 0px;
    height: 400px !important;
    z-index: -999;
  }
}