header {
    height: 30vh;
    background-image: url('../images/assess.png');
    background-size: cover;
    background-position: center;
    margin-bottom: var(--default-padding);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.big-shoulders-stencil-appName {
  font-family: "Big Shoulders Stencil", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#appName {
    margin-bottom: 0.875rem;
    font-size: 4rem;
}

#motto {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    color: green;
}